modules = ["nodejs-20"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41670708
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx live-server  0x02-tailwind-css --port=3000 --host=0.0.0.0 --no-browser"

[[ports]]
localPort = 3000
externalPort = 80
